snippet enu "Enum" b
\begin{enum}
    \item $0
\end{enum}
endsnippet

snippet prob "Problem" b
\begin{problem}
    $0
\end{problem}
endsnippet

snippet ali "Align" b
\begin{align}
    $0
\end{align}
endsnippet

snippet als "Align*" b
\begin{align*}
    $0
\end{align*}
endsnippet

